body {
    font-family: Arial, sans-serif;
    background-color: #C4A484;
}

header {
    text-align: center;
    
}

main {
    max-width: 1000px;
    margin: 0 auto;
    
}

section {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    background-color: #EADDCA;
}

h1 { 
    font: bold 5em "Marko One", Georgia, serif;
    border-style:double;
}

h2 {
    color: #7B3F00; 
    
}

ul {
    padding-left: 20px;
}

img {
    width: 75%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
}

footer {
    text-align: center;
    margin-top: 30px;
    padding-top: 15px;
    

}

#resources {
    margin-top: 40px;
    max-width: 1000px;
    margin: 0 auto;    
}

#resources ul {
    list-style: disc;
    padding-left: 20px;
    
}

#resources ul li {
    margin-bottom: 10px;
    
}

a {
    color: blue; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


p {
    margin-bottom: 25px;

}
 
#Step1 , #Step2, #Step3, #Step4, #Step5 {
    text-align: center;
}






